.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h1 {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.form_group {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form_group label {
    width: 100%;
    font-size: 1.1em;
    font-weight: 400;
    padding: 5px;
    color: #111;
}

.form_group input[type="text"],
.form_group input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.form_btn {
    width: 100%;
    display: flex;
    margin: 10px;
}

.form_btn button {
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin-right: 5px;
    cursor: pointer;
}